*.log*
outdir/bbsplit/*.fastq.gz
*.fastqc.zip
*.fastq.gz
*.txt.gz
genome
star_salmon
outdir2
.nextflow
work
work2
scripts/pipelines/nf-core/rnaseq/.nextflow.log*
scripts/pipelines/nf-core/rnaseq/.nextflow.log.4
scripts/pipelines/nf-core/rnaseq/.nextflow.log
bbmap
agent
*.properties
raw/
data/raw
raw/**
*/raw/*
processed/exome/02_disambiguated
processed
*.gff.gz
*.gtf
*.fz
*.fa.gz
*.gz
data/
*.nextflow.*

scripts/pipelines/exome/02_disambiguate_test/.nextflow.log
scripts/pipelines/exome/02_disambiguate_test/.nextflow.log.1
pipeline_tmp
results

scripts/pipelines/exome/05_sarek_joakim/work_disambiguate
scripts/pipelines/exome/05_sarek_joakim/work
scripts/pipelines/exome/05_sarek_joakim/pipeline_tmp
scripts/pipelines/exome/05_sarek_joakim/results
scripts/pipelines/exome/05_sarek/pipeline_tmp
scripts/pipelines/exome/05_sarek/work
scripts/pipelines/exome/05_sarek/work2
/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/results_disambiguate/
/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/results_human/
/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/results_mouse/
**/tmp/
**/s_tmp/
**/s_lib/
**/s_cache/
**/work/
**/.nextflow*
**/results_disambiguate/
**/results_*/
**/work*/
file_transfer.sh