*.log*
outdir/bbsplit/*.fastq.gz
*.fastqc.zip
*.fastq.gz
*.txt.gz
genome
star_salmon
outdir2
.nextflow
work
work2
scripts/pipelines/nf-core/rnaseq/.nextflow.log*
scripts/pipelines/nf-core/rnaseq/.nextflow.log.4
scripts/pipelines/nf-core/rnaseq/.nextflow.log
bbmap
agent
*.properties
raw/
data/raw
raw/**
*/raw/*
processed/exome/02_disambiguated
processed
*.gff.gz
*.gtf
*.fz
*.fa.gz
*.gz
data/
*.nextflow.*

scripts/pipelines/exome/02_disambiguate_test/.nextflow.log
scripts/pipelines/exome/02_disambiguate_test/.nextflow.log.1
pipeline_tmp
results