env {
     SINGULARITY_TMPDIR="/data/local/singularity/tmp"
     TMPDIR="/data/local/singularity/tmp"
}
singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/scratch'
    //Used to allow Singularity to access bashrc variables
    envWhitelist = ['SINGULARITY_TMPDIR']
}