env {
	SINGULARITY_TMPDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_tmp'
    SINGULARITY_CACHEDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_cache'
    SINGULARITY_LIBRARYDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_lib'
    NXF_SINGULARITY_CACHEDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_tmp'
    NXF_SINGULARITY_LIBRARYDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_tmp'
    NXF_TEMP= '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/tmp'
    TEMP = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/tmp'
	TMPDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/tmp'
	TMP_DIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/tmp'
	TMP = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/mp'
}

singularity {
    cacheDir = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_tmp'
}
