
executor {
    name = 'local'
}

env {
	SINGULARITY_TMPDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_tmp'
    SINGULARITY_CACHEDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_cache'
    SINGULARITY_LIBRARYDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_lib'
    TEMP = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/tmp'
	TMPDIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/tmp'
	TMP_DIR = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/tmp'
	TMP = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/tmp'
}


singularity {
    docker.enabled = false
    singularity.enabled = true
    podman.enabled = false
    shifter.enabled = false
    charliecloud.enabled = false
    singularity.autoMounts = true
    cacheDir = '/data/local/MD_project/scripts/pipelines/exome/02_disambiguate_joakim/s_cache'
    autoMounts = true
    env.PYTHONNOUSERSITE = 1
    engineOptions = '--debug'
    runOptions = '-B /data:/data'
}
