

params.snpeff_genome = params.snpeff_genome ?: 'GRCh38'
params.snpeff_version = params.snpeff_version ?: '4.3.1t'
params.genome = params.genome ?: 'GRCh38'
params.vep_genome = params.vep_genome ?: 'GRCh38'
params.vep_version = params.vep_version ?: '110'




env {
    TMPDIR = '/data/local/MD_project/scripts/pipelines/exome/05_sarek_joakim/pipeline_tmp/tmp'
    TEMP = '/data/local/MD_project/scripts/pipelines/exome/05_sarek_joakim/pipeline_tmp/tmp'
    TMP_DIR = '/data/local/MD_project/scripts/pipelines/exome/05_sarek_joakim/pipeline_tmp/tmp'
    TMP = '/data/local/MD_project/scripts/pipelines/exome/05_sarek_joakim/pipeline_tmp/tmp'
}

singularity {
    cacheDir = '/data/local/MD_project/scripts/pipelines/exome/05_sarek_joakim/pipeline_tmp/s_tmp'
   
    // Used to allow Singularity to access bashrc variables
    envWhitelist = ['SINGULARITY_TMPDIR']
}