process {
        cache = 'lenient'
}

env {
	TMPDIR = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/tmp'
    TEMP = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/tmp'
	TMP_DIR = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/tmp'
	TMP = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/tmp'
	SINGULARITY_TMPDIR = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/s_tmp'
    SINGULARITY_CACHEDIR = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/s_cache'
    SINGULARITY_LIBRARYDIR = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/s_lib'
    SINGULARITY_LOCALCHACHEDIR='/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/s_cache'
    NXF_SINGULARITY_CACHEDIR = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/s_tmp'
    NXF_SINGULARITY_LIBRARYDIR = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/s_tmp'
    NXF_TEMP= '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/tmp'
}


singularity {
    cacheDir = '/home/ubuntu/data/local/MD_project/scripts/pipelines/exome/05_sarek/pipeline_tmp/s_tmp'
    runOptions = '-B /data/s_tmp'
    //Used to allow Singularity to access bashrc variables
    envWhitelist = ['SINGULARITY_TMPDIR']
}
